html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.logo-nav-bar { 
    width: 237px;
    height: 96px;
}

h1.hero-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    color: #1B1B1B;
}

h6.hero-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #1B1B1B;
}

main.hero-section {
    /* width: auto;
    height: auto; */
    height: 573px;
    background: #FFF7F3;
    margin: 0;

    /* Inside auto layout */
/* 
    flex: none;
    order: 0;
    flex-grow: 0; */
}

.wrapper { 
    margin: 0 auto; 
}

nav { 
    display: flex;
    width: 100%;
    background: #FFF0E9;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

nav a { 
    margin-left: 70px;
    margin-top: 12px;
    text-decoration: none;
    color: #1B1B1B;
    font-size: 2rem;
}

nav ul { 

    list-style-type: none;
    display: flex;
    gap: 20px; 
    margin-right: 70px;
    margin-top: 12px;
}

main { 
    display: flex; 
    gap: 23px; 
    margin-top: 120px; 
}

.left-col {
    max-width: 643px;
    margin-left: 70px; 
}